<!doctype html>
<html>
  <head>
    {% block head %}
    <title>WebScheduler</title>
    {% endblock %}

      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

      <!-- lavish theme -->
      <link rel="stylesheet" href="/static/lavish-bootstrap.css">

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

      <style type="text/css">
        body {
            font-family: "Verdana", Verdana, serif;
        }
      </style>

  </head>
  <body>
    



    <div id="content" class="col-md-12">
      <div class="jumbotron">
        {% block content %}{% endblock %}
      </div>
    </div>
    <div id="footer">
      {% block footer %}
      {% endblock %}
    </div>
  </body>
</html>