{% extends "base.html" %}

{% block content %}

<h1 style="text-align: center; color: white"> Welcome to the University of Michigan Course Scheduler! </h1>

<div id="accordion">
    <div class="panel">
      <div class="pink"></div>
      <div class="panelContent p1">
      	<div id="TermSelHeader" class="SelHeader"><strong> Select Term </strong></div><br><br/>
      	<div id="TermSelHolder" class="TermHolder"> 
            <div class="TermItem SelTerm" name="2060" <a href="2060">Fall 2015</a></div>
        </div>
      </div>
    </div>
    <div class="panel">
      <div class="pink dark1"></div>
      <div id="Schools" class="panelContent p2">
      		<div id="SchoolHeader" class="SelHeader"><!-- <strong> Select School </strong> --></div><br><br/>
      		<div id="SchoolHolder" class="TermHolder"></div>
      </div>
    </div>
    <div class="panel">
      <div class="pink dark2"></div>
      <div id="Subjects" class="panelContent p3">
      		<div id="SubjectHeader" class="SelHeader"><!-- <strong> Select Subject </strong> --></div><br><br/>
      		<div id="SubjectHolder" class="TermHolder"></div>
      </div>
    </div>

    <div class="panel">
      <div class="pink dark3"></div>
      <div id="Classes" class="panelContent p4">
      		<div id="ClassHeader" class="SelHeader"><!-- <strong> Select Class </strong> --></div><br><br/>
      		<div id="ClassHolder" class="TermHolder"></div>
      </div>
    </div>

    <div class="panel FinalStage">
      <div class="pink dark4"></div>
      <div id="Button" class="panelContent p5">
        <div id="ButtonHeader" class="SelHeader"></div><br><br/>
        <div id="ButtonHolder" class="TermHolder"></div>
      </div>
    </div>
</div>

<br>
<div id="backpack_table"></div>
<br> 

<div class="Viewer">
  <!-- <div id="ViewInfo" class="FiltersHolder"> -->
    <!-- <div id="GlobalFilterHeader" class="GlobalHeader"><strong>FILTERS</strong></div> -->
    <div id="GlobalFilters" class="GlobalFilters">
      <div id ="editCourse" class="filter2"><strong>Click Edit To Filter Backpacked Courses</strong></div>
      <div class="filter1"><strong>Earliest Start Time:</strong>
        <br>
        <select id="earliestClass" onchange="onFilterChange()" style="margin-bottom:10px">
          <option value="0" selected="selected">12am</option>
          <option value="1">1am</option>
          <option value="2">2am</option>
          <option value="3">3am</option>
          <option value="4">4am</option>
          <option value="5">5am</option>
          <option value="6">6am</option>
          <option value="7">7am</option>
          <option value="8">8am</option>
          <option value="9">9am</option>
          <option value="10">10am</option>
          <option value="11">11am</option>
          <option value="12">Noon</option>
          <option value="13">1pm</option>
          <option value="14">2pm</option>
          <option value="15">3pm</option>
          <option value="16">4pm</option>
          <option value="17">5pm</option>
        </select>
      </div>
      <div class="filter1"><strong>Latest End Time:</strong>
        <br>
        <select id="lastClass" onchange="onFilterChange()" style="margin-bottom:10px">
            <option value="11">11am</option>
            <option value="12">Noon</option>
            <option value="13">1pm</option>
            <option value="14">2pm</option>
            <option value="15">3pm</option>
            <option value="16">4pm</option>
            <option value="17">5pm</option>
            <option value="18">6pm</option>
            <option value="19">7pm</option>
            <option value="20">8pm</option>
            <option value="21">9pm</option>
            <option value="22">10pm</option>
            <option value="23" selected="selected">11pm</option>
          </select>
      </div>
      <div class="filter1"><strong>Sort Results By:</strong>
        <br>
        <select id="sortBy" onchange="onFilterChange()" style="margin-bottom:10px">
          <option value="Earliest_Start" selected="selected">Earliest Start</option>
          <option value="Latest_Start">Latest Start</option>
          <option value="Earliest_End">Earliest End</option>
          <option value="Latest_End">Latest End</option>
        </select>
      </div>
      <div id ="blockDay" class="filter2"> <strong>I Would Like No Class On:</strong>
        <br>
        <input type="checkbox" name="chk_group[]" value="0" onclick="onFilterChange()" />Monday<br />
        <input type="checkbox" name="chk_group[]" value="1" onclick="onFilterChange()" />Tuesday<br />
        <input type="checkbox" name="chk_group[]" value="2" onclick="onFilterChange()" />Wednesday<br />
        <input type="checkbox" name="chk_group[]" value="3" onclick="onFilterChange()" />Thursday<br />
        <input type="checkbox" name="chk_group[]" value="4" onclick="onFilterChange()" />Friday<br />
      </div>
    </div>
  <!-- </div> -->
</div>

<div id='calendarHolder'>
  
</div>

<script>

var colors = ["red", "blue", "green", "orange", "purple", "yellow", "DodgerBlue", "DarkCyan", "SteelBlue", "YellowGreen"];


function onFilterChange()
{
  //the selected early start time
  var e = document.getElementById("earliestClass");
  var earliestClass = e.options[e.selectedIndex].value;

  //the selected late end time
  var e = document.getElementById("lastClass");
  var lastClass = e.options[e.selectedIndex].value;

  //the selected sorter
  var e = document.getElementById("sortBy");
  var sortBy = e.options[e.selectedIndex].value;

  //all of the checked days
  $("input[name='user_group[]']:checked")
  var skipDayVals = new Array();
  $.each($("input[name='chk_group[]']:checked"), function() {
    skipDayVals.push($(this).val());
  });
  // console.log(skipDayVals);

  var mon = skipDayVals.indexOf("0") > -1;
  var tues = skipDayVals.indexOf("1") > -1;
  var wed = skipDayVals.indexOf("2") > -1;
  var thurs = skipDayVals.indexOf("3") > -1;
  var fri = skipDayVals.indexOf("4") > -1;

  //@app.route('/filter/<earliestClass>/<latestEndTime>/<sortBy>/<mon>/<tues>/<wed>/<thurs>/<fri>')
  var url='/filter/' + earliestClass + '/' + lastClass + '/' + sortBy + '/' + mon + '/' + tues + '/' + wed + '/' + thurs + '/' + fri;
  $.getJSON(url, function(){});

  refreshCals();
  //alert("updatedFilters");
}

function greaterTime(first, second) {
    //Assuming dates are the same year
    if (first.clone().dayOfYear(0).isBefore(second.clone().dayOfYear(0)))
        return second;
    else
        return first;
}

function refreshCals(){

  $( "#calendarHolder").fadeTo('slow',0).slideUp('slow',function() {
    $("#calendarHolder").empty();
    $( "#calendarHolder").append( "<div class='calendar' style='text-align:center;margin-left:27%;margin-right:30%;'> Generating... </div>" );

    var url = "/get_schedules";



  $.getJSON( url, function( jsonData ) 
  {
      var items = [];
      var i = 0;

      if( jsonData.length == 0 )
      {
        $( "#calendarHolder").append( "<div class='calendar' style='text-align:center;margin-left:27%;margin-right:30%;'> No Calendars could be created. Please Try Different Combinations </div>" );
      }
      $("#calendarHolder").empty();
      
      $.each( jsonData, function( key, obj ) {


        var earlyStart = new Date();
        var lateEnd = new Date();
        earlyStart.setHours(23);
        lateEnd.setHours(2);

        if( obj.length > 0 )
        {

          //create new calendar div
          $( "#calendarHolder").append( "<div id='calendar" + i + "' class='calendar'</div>" );

          for( var j = 0; j < obj.length; j++ )
          {
            var tempDate = (moment(obj[j].start)).toDate();
            // console.log("Temp is at:" + tempDate);
            tempDate.setDate(earlyStart.getDate());

            // console.log("Early is at:" + earlyStart);

            if( earlyStart > tempDate )
            {
              earlyStart.setHours(tempDate.getHours());
            }

            var tempEnd = (moment(obj[j].end)).toDate();
            tempEnd.setDate(lateEnd.getDate());

            if( lateEnd < tempEnd )
            {
              lateEnd.setHours(tempEnd.getHours()+1);
            }

          }

          var minTimeString = earlyStart.getHours() + ":00:00";
          var maxTimeString = lateEnd.getHours() + ":00:00";


          //create calendar for this div
          var calendar = $('#calendar' + i).fullCalendar(
          {
            header:false,
            defaultView: 'agendaWeek',
            selectable: false,
            selectHelper: false,
            editable: false,
            allDaySlot:false,
            weekends:false,
            height: "auto",
            columnFormat: 'ddd',
            minTime: minTimeString,
            maxTime: maxTimeString,
            events:obj
          });

          // console.log(obj);

          //increment i
          i = i+1;
        } // end if for calendars showing
        else
        {
          $( "#calendarHolder").append( "<div class='calendar' style='text-align:center;margin-left:27%;margin-right:30%;'> No Calendars could be created. Please Try Different Combinations </div>" );
        }
      });//end getjson
  });
  $( "#calendarHolder").fadeTo('fast',100).slideDown();
  });

  
}

function updateEditCourse(term, school, subject, course_num){
  $( "#editCourse").empty();

  var url = "http://umich-schedule-api.herokuapp.com/get_sections?term_code=" + String(term) 
            + "&school=" + String(school) + "&subject=" + String(subject) + "&catalog_num=" + String(course_num);
  $.getJSON( url, function( jsonData ) 
  {
      var i = 0;
      $( "#editCourse").append("<strong>Edit " + subject + " " + course_num + "</strong><br>");
      $.each( jsonData, function( key, obj ) {
          $( "#editCourse").append("<div class='col-sm-4'><input type='checkbox' checked name='chk_group2[]' value='" + i + "' onclick='onFilterChange()' />"
            + obj.SectionType + " " + obj.SectionNumber + ": " + obj.Meeting.Days + " " + obj.Meeting.Times + "</div>");
          i = i + 1;
      });

  });

}

function updateTable(){

  $( "#backpack_table").empty();

  var url = "/get_session/backpack";
  $.getJSON( url, function( jsonData ) 
  {
      var html = "<table class='table table-striped' style='background-color:white; width:100%; margin:0px'>" 
      + "<thead> <th width='80%'>Backpacked Courses</th> <th width='10%'>Edit</th> <th width='10%'>Remove</th> </thead> <tbody>";
      var items = [];
      var i = 0;
      $.each( jsonData, function( key, obj ) {
        //create onclick function
        // function deleteCourse(){
        //   //@app.route('/backpack_course/delete/<term>/<school>/<subject>/<course_num>')
        //   var deleteURL = "/backpack_course/delete/" + obj.term + "/" + obj.school + "/" + obj.subject + "/" + obj.course_num;
        //   $.getJSON( deleteURL, function( jsonData ) {} );
        // }
        var deleteURL = "\/backpack_course\/delete\/" + obj.subject + "\/" + obj.course_num;
        var deleteFunc = "$.get(\'" + deleteURL + "\' , function( ) { refreshCals(); updateTable(); $( '#editCourse').empty(); $( '#editCourse').append('<strong>Click Edit To Filter Backpacked Courses</strong>'); } ); ";       

        //create new row in table
        html += "<tr> <td>" + obj.subject + " " + obj.course_num + "</td>"
          + "<td><button type='button' class='btn btn-warning'"
          +"onclick=\"updateEditCourse('" + obj.term + "', '" + obj.school + "', '" + obj.subject 
          + "', '" + obj.course_num + "');\">Edit</button></td>"
          + "<td><button type='button' class='btn btn-danger' "
          + "onclick=\"" + deleteFunc + "\""
          + ">Remove</button></td>"
          + "</tr>";


      });
      
      console.log("updateTable");

      html += "</tbody><tfoot><tr><td></td><td></td><td></td></tr></tfoot></table>";
      $( "#backpack_table").append(html);
  });
  
}


$(document).ready(function(){

  var date = new Date();
  var d = date.getDate();
  var m = date.getMonth();
  var y = date.getFullYear();

  updateTable();
  onFilterChange();

  activePanel = $("#accordion div.panel:first");
  $(activePanel).addClass('active');

  termChoice = $("accordion .TermItem:first");
  termCode = 0;
  schoolCode = 0;
  subjectCode = 0;
  courseCode = 0;

  $("#accordion").delegate('.TermItem', 'click', function(e){

      currentPanel = $(this).parent('.TermHolder').parent('.panelContent').parent('.panel');
      panelToActivate = currentPanel.nextAll('.panel:first');
      termChoice = $(this);

      currentPanel.find('.TermItem').removeClass('active');
      currentPanel.nextAll('.panel').find('.TermItem').removeClass('active');
      termChoice.addClass('active');


      //Ajax requests
      if( termChoice.hasClass('SelTerm') )
      {
          $( "#SchoolHeader").empty();
          $( "#SubjectHolder").empty();
          $( "#ClassHolder").empty();
          $( "#SubjectHeader").empty();
          $( "#ClassHeader").empty();
          $( "#ButtonHeader").empty();
          $( "#SchoolHeader").append("<strong> Select School </strong>");

      	termCode = termChoice.attr('name');
      	$( "#SchoolHolder").empty();
          var url = "{{ config['api_url'] }}/get_schools?term_code=" + termChoice.attr('name');
          $.getJSON( url, function( jsonData ) {
              var items = [];
              $.each( jsonData, function( key, obj ) {
                  //items.push( "<li id='" + obj.SchoolCode + "'>" + obj.SchoolDescr + "</li>" );
                  items.push( "<div class='TermItem SelSchool' name='" + obj.SchoolCode + "' <p>" + obj.SchoolDescr + " </p></div>"  );
              });

              //$( "#SchoolHolder").append("<strong> Select School </strong><br><br/>");
              $( "#SchoolHolder").append( items );
          });

      } else if( termChoice.hasClass('SelSchool') ) {
          $( "#SubjectHeader").empty();
          $( "#ClassHeader").empty();
          $( "#ClassHolder").empty();
          $( "#ButtonHeader").empty();
          $( "#SubjectHeader").append("<strong> Select Subject </strong>");

      	schoolCode = termChoice.attr('name');
      	$( "#SubjectHolder").empty();
      	var url = "{{ config['api_url'] }}/get_subjects?term_code=" + termCode + "&school=" + schoolCode;
          $.getJSON( url, function( jsonData ) {
              var items = [];
              $.each( jsonData, function( key, obj ) {
                  //items.push( "<li id='" + obj.SchoolCode + "'>" + obj.SchoolDescr + "</li>" );
                  items.push( "<div class='TermItem SelSubject' name='" + obj.SubjectCode + "' <p> (" + obj.SubjectShortDescr + ") " + obj.SubjectDescr + " </p></div>"  );
              });

              $( "#SubjectHolder").append( items );
          });

      } else if( termChoice.hasClass('SelSubject') ) {
          $( "#ClassHeader").empty();
          $( "#ButtonHeader").empty();
          $( "#ClassHeader").append("<strong> Select Class </strong>");

      	subjectCode = termChoice.attr('name');
      	$( "#ClassHolder").empty();
      	var url = "{{ config['api_url'] }}/get_catalog_numbers?term_code=" + termCode + "&school=" + schoolCode + "&subject=" + subjectCode;
          $.getJSON( url, function( jsonData ) {
              var items = [];
              $.each( jsonData, function( key, obj ) {
                  //items.push( "<li id='" + obj.SchoolCode + "'>" + obj.SchoolDescr + "</li>" );
                  items.push( "<div class='TermItem SelClass' name='" + obj.CatalogNumber + "' <p> (" + obj.CatalogNumber + ") " + obj.CourseDescr + " </p></div>"  );
              });

              $( "#ClassHolder").append( items );

              if( items.length <= 0 )
              {
              	$( "#ClassHolder").append( "<p> This subject has no classes this term :( </p>" );
              }
          });
      }

      $( "#ButtonHolder").empty();
      if( termChoice.hasClass('SelClass') )
      {
          $( "#ButtonHeader").empty();
          $( "#ButtonHeader").append("<strong> Course Description </strong>");
          courseCode = termChoice.attr('name');

          var url = "{{ config['api_url'] }}/get_course_description?term_code=" + termCode + "&school=" + schoolCode + "&subject=" + subjectCode + "&catalog_num=" + courseCode;

          var courseDescription = 'testing';
          // $( "#ButtonHolder").append(url);

          $.getJSON( url, function( jsonData ) {
              $( "#ButtonHolder").append("<div style='width: 94%; margin-left: 3%; margin-right: 3%;'><p class='lead' style='font-size: 16px;'>" + jsonData + "</p></div>");

              url='/backpack_course/' + termCode + '/' + schoolCode + '/' + subjectCode + '/' + courseCode;
              $( "#ButtonHolder").append( "<div style='text-align:center' class='col-sm-8 col-sm-offset-2'><button class='btn btn-primary btn-large btn-block' id='addClass' "
                // + "onclick=\"" 
                // + "$.getJSON('" + url + "', function( jsonData ){ }); alert('Class Added'); updateTable(); refreshCals();\""
                + "> Add Class </button></div>");

              
              $('#addClass').bind('click', function(){
                $.ajax({
                  type:"GET",
                  url: url,
                  success: function(){
                    updateTable();
                    refreshCals();
                  },
                  error: function(alertData) {alert(alertData)}
                });

              });
          });
                    
      }


      if( !currentPanel.hasClass('FinalStage') && !$(panelToActivate).is('.active')    ){

          numMorePanels = $(panelToActivate).nextAll('.panel').length;

          if ( $(panelToActivate).hasClass('FinalStage') )
          {
          	//animate all previous panels to normal width
            $(panelToActivate).prevAll('.panel').animate({width: "15%"}, 300);
            $(panelToActivate).prev('.panel').animate({width: "25%"}, 120);

            //animate the main panel to full size for selection
            $(panelToActivate).animate({width: "30%"}, 300);
          }
          else
          {

            //animate all previous panels to normal width
            $(panelToActivate).prevAll('.panel').animate({width: "15%"}, 300);


            //animate all the rest of the panels (ones that come after) to small width
            $(panelToActivate).nextAll('.panel').animate({width: "5%"}, 300);
            //animate the main panel to full size for selection
            $(panelToActivate).animate({width: "39.9%"}, 300);

            for(i = 0; i < numMorePanels; i++)
            {
                $(panelToActivate).animate({width: "+=10%"}, 120);
            }
        }
        //no longer active
        $('#accordion .panel').removeClass('active');
        //set active to the selection
        $(panelToActivate).addClass('active');
        //(Depricated)
        activePanel = $(panelToActivate);
      };
  });
});
</script>


{% endblock %}